@charset "UTF-8";

.sc-board-content {
  overflow-wrap: anywhere;
}

.sc-board-content img,
.sc-board-content video,
.sc-board-content iframe {
  display: block;
  max-width: 100%;
  height: auto;
}

.sc-board-content figure {
  max-width: 100%;
}
